body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.research-banner {
  background-color: #fff;
  padding: 10px;
  text-align: center;
  color: #333;
}

header {
  height: 50px;
  background-color: #22333b;
}

.header-right, .header-left {
  align-self: center;
}

.header-left {
  height: 46%;
}

.header-right {
  justify-self: end;
  display: flex;
  align-items: center;
  color: white;
}
.header-right * {
  margin-left: 4px;
}
.header-right *:hover {
  cursor: pointer;
}
.header-right .bell {
  font-size: 19px;
  padding: 6px;
  border-radius: 4px;
  background-color: #3a4950;
}
.header-right .user {
  font-size: 39px;
  color: #b1b1b1;
}

.tracks-banner {
  height: 34px;
  background-color: #ebebeb;
}

.language-banner {
  font-size: 12px;
  color: #333;
  text-decoration: underline solid #ccc;
}
.language-banner:hover {
  text-decoration: underline solid #ccc;
}

.hero {
  height: 222px;
  background: #009cab url("../images/hero-background.png");
}

.banner-text {
  margin-top: 120px;
  color: #fff;
}
.banner-text h1 {
  margin-bottom: 5px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
}
.banner-text h4 {
  max-width: 70%;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 30px;
}

.track-header h4 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}
.track-header p {
  margin-right: 20px;
  color: #666;
  font-size: 12px;
  line-height: 12px;
}

.fa-search {
  position: absolute;
  color: #c5c5c5;
  font-size: 16px;
  padding: 8px;
}

.language-search {
  font-size: 14px;
  line-height: 14px;
  border: 1px solid #ddd;
  padding: 7px 10px 7px 30px;
  border-radius: 2px;
  vertical-align: middle;
}
.language-search:focus {
  outline: 1px solid #ddd;
}
.language-search::placeholder {
  color: #d8d8d8;
}

.language-search-button {
  margin-left: 5px;
  padding: 7px 20px;
  border: 1px solid #ddd;
  font-weight: 400;
  border-radius: 2px;
  color: #666;
  background: #f6f6f6;
}

main {
  margin-bottom: 50px;
}

.tracks-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.track {
  height: 100px;
  padding: 10px 0;
  border: 1px solid black;
  color: #333;
  text-decoration: none;
  border: 1px solid #c2c3c3;
  border-radius: 2px;
}
.track:hover {
  cursor: pointer;
  border-color: #009cab;
}
.track img {
  float: left;
  width: 30%;
  height: 100%;
  object-fit: contain;
}
.track h4 {
  padding-top: 12px;
  padding-bottom: 4px;
  font-size: 20px;
  font-weight: 500;
}
.track .progress {
  border: 1px solid #dcf2f3;
  padding: 4px 7px;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  font-weight: 400;
  color: #999;
}

.available-tracks .progress {
  background-color: #f3f3f3;
  border: none;
}

footer {
  background-color: #333;
  min-height: 300px;
}

.footer-cols {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 20px;
  color: white;
  text-align: center;
}
@media (max-width: 1025px) {
  .footer-cols {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 770px) {
  .footer-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 570px) {
  .footer-cols {
    grid-template-columns: 1fr;
  }
}
.footer-cols h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
}
.footer-cols h4::after {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: -7px;
  right: 25px;
  left: 25px;
  border-bottom: 1px solid #616161;
}
.footer-cols a {
  display: inline-block;
  margin: 2px 0;
  color: #ddd;
  font-size: 14px;
  line-height: 25px;
  text-decoration: none;
  display: block;
}

.social-icons {
  padding: 22px 0;
  text-align: center;
  color: white;
}
.social-icons i {
  font-size: 22px;
  padding: 9px 12px;
  margin: 5px;
  border: 1px solid #565656;
  border-radius: 4px;
  background-color: #383838;
}
.social-icons i:hover {
  cursor: pointer;
}

.footnote {
  padding-top: 5px;
  border-top: 1px solid #656565;
  color: #ddd;
  text-align: center;
}
.footnote p {
  font-size: 14px;
}
.footnote a {
  text-decoration: underline;
}
.footnote #copyright {
  float: right;
  margin-left: 10px;
}
@media (max-width: 770px) {
  .footnote #copyright {
    float: none;
    display: block;
  }
}

/*# sourceMappingURL=styles.css.map */
